*{
    padding: 0;
    margin: 0;
    font-family: Microsoft YaHei;
    color: #000000;
}
ul>li{
    list-style: none;
}
ul{
    margin-bottom: 0;
}
body{
    background-color: #EAEAEA;
}
.header{
    background-color: #3BC299;
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
.header>a{
    color: #ffffff;
}
.header>a:hover{
    cursor: pointer;
    text-decoration: none;
}
.body01{
    padding: 10px;
    background-color: #DEDEDE;
}
.body01>button{
    font-size: 18px;
    border-radius: 20px;
}
.body01>button>img{
    width: 20px;
    margin-right: 10px;
    margin-bottom: 3px;
}
.box_top{
    background-color: #3BC299;
    padding: 10px 20px;
}
.box_top>.pull-left{
    font-size: 18px;
    color: #ffffff;
}
.box_top>.pull-right{
    font-size: 18px;
    color: #ffffff;
}
.box_body01{
    background-color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}
.a{
    width: 50%;
    float: left;
    height: 25px;
    font-size: 14px;
}
.a>.pull-left{
    color: #4DBC55;
}
.b{
    text-align: right;
    font-size: 18px;
    margin-top: 20px;
}
.b>span{
    margin-right: 25px;
    color: #3BC299;
    font-size: 18px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:#3BC299;
    padding: 15px 10px;
}
.footer>.pull-left{
    color: #ffffff;
    font-size: 16px;
}
.footer>.pull-right{
    color: #ffffff;
    font-size: 16px;
}
.footer>.pull-left>span{
    color: #ffffff;
}
.footer>.pull-right>span{
    color: #ffffff;
}
@media (min-width: 300px)and (max-width: 400px){
    .a{
        width: 50%;
        float: left;
        height: 25px;
        font-size: 12px;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #3BC299;
        padding: 15px 10px;
    }
    .footer>.pull-left {
        color: #ffffff;
        font-size: 12px;
    }
    .footer>.pull-right {
        color: #ffffff;
        font-size: 12px;
    }
}
@media (min-width: 350px)and (max-width: 400px){
    .a{
        width: 50%;
        float: left;
        height: 25px;
        font-size: 14px;
    }
}
