*{
    font-family: Microsoft YaHei;
}
ul{
    padding-left:0 ;
}
ul>li{
    list-style: none;
}
a{
    text-decoration: none;
}
/*-----------------header-------------------*/

.header{
    width: 100%;
    background-color: #077fbc;
    height: 44px;
    text-align: center;
    color:#ffffff;
    position: fixed;
    line-height:44px;
    top: 0;
    left: 0;
    z-index: 9;
    font-size: 15px;
}
.header-back{
    position: fixed;
    left: 10px;
    top: 0;
    line-height: 44px;
}
/*-----------------secition-------------------*/
.secition{
    width: 100%;
    background-color: #C9D8DF;
    margin-top: 40px;
    padding-bottom: 80px;
}
.boot-form{
    margin-top: 35px;
    font-size: 15px;
}
.boot>input{
    background-color: #C9D8DF;
    border:1px solid #357BB1;
    outline: none;
}
.boot-sub{
    width: 140px;
    height: 30px;
    border-radius: 3px;
    background-color: #357BB1;
    border: none;
    text-align: center;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 30px;
}
.la{
    line-height: 35px;
}
.ta{
    font-weight: bold;
    line-height: 15px;
    margin-top: 50px;
    text-align: center;
    font-size: 10px;
}
.tdbt{
    border: none;
    background-color: #357BB1;
    color: #FFFFFF;
    font-weight: 100;
}
.zz{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: #000000;
    z-index: 20;
    display:none;
}
.zz-one{
    width: 100%;
    margin: auto;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}
.zz-one>ul{
    margin-bottom: 0;
}
.zz-one>ul>li{
    padding: 10px 0;
    color: #843534;
}
.zz-two{
    width: 100%;
    height: 30px;
    color: #843534;
    background-color: #FFFFFF;
    line-height: 30px;
}
.zz-three{
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
}
.zz-three1{
    width: 50%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
    border: 1px solid #000000;
}
.bj{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bj1{
    width: 33%;
    height: 40px;
    float: left;
    border: 1px solid #000000;
    text-align: center;
    line-height: 40px;
}
.zz-1{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    padding: 15px 15px 450px 15px;
}
.zz-1-a>ul>li{
    padding: 5px 0;
}
.zz-1-b{
    border: 1px solid #000000;
    margin-bottom: 20px;
}
.zz-1-b>ul>li{
    padding: 5px 0;
}