/*.kefu>ul{
    margin-bottom: 0;
}
.kefu>ul>li{
    padding: 20px 0;
    padding-left:100px ;
    border-bottom:1px solid #009805 ;
    text-align: left;
}
.kefu>ul>li>a{
    color: #009805;
    cursor: pointer;
}
.kefu>ul>li>a:hover{
    color: #009805
    text-decoration: none;
}*/

.kefu{
    background-color: #000;
    opacity: 0.8;
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    display: none;
}
.kefu>ul{
    padding-left: 80px;
}
.kefu>ul>li{
    padding: 10px 0;
    text-align: left;
}
.kefu>ul>li>a{
    color: #FFFFFF;
    cursor: pointer;
}
.kefu>ul>li>a:hover{
    color: #FFFFFF;
    text-decoration: none;
}