*{
    padding: 0;
    margin: 0;
    font-family: Microsoft YaHei;
}
.header{
    text-align: center;
    background-color: #36a0ac;
    padding: 10px 0;
    color: #FFFFFF;
    position: relative;
}
.a_position{
    position: absolute !important;
    left: 10px !important;
    top:12px !important;
    color:#FFFFFF;
}
.a_position:hover{
    color:#FFFFFF;
    text-decoration: none;
    cursor: pointer;
}
.orient{
    padding: 13px;
    background-color: #E6E6E6;
}
.orient_01{
    display: inline-block;
    color: #999999;
    font-size: 16px;
}
.orient_02{
    display: inline-block;
    color:#666666;
    font-size: 16px;
}
.order_01{
    background-color: #FFFFFF;
    padding: 13px;
    font-size: 16px;
}
.order_02{
    padding: 13px;
    color: #666666;
    font-size: 18px;
    background-color: #E6E6E6;
}
.order_03{
    padding: 13px;
    border-top:2px solid #d0d0d0;
    border-bottom:1px solid #d0d0d0;
    overflow: hidden;
    max-width: 100%;
    position: relative;
    height: 165px;
    background-color: #E6E6E6;
}
.order_03 img{
    max-height: 134px;
    max-width: 134px;
}
.order_03_imgk{
    width: 9999px;
    position: relative;
    height: 100%;
}
.imgk{
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
    width: 100%;
    height: 100%;
}

.imgk>img{
    width: 132px;
    height: 132px;
    float: left;
    margin-right: 10px;
}
.arrows{
    width: 25px;
    height: 18px;
    margin-right: 10px;
    margin-top: 1px;
    background-image: url("../images/arrows.png");
    background-size: 100% 100%;
    float: left;
}
.arrows02{
    width: 25px;
    height: 18px;
    margin-right: 10px;
    margin-top: 1px;
    background-image: url("../images/arrows02.png");
    background-size: 100% 100%;
    float: left;
}
.col-xs-10>ul>li{
    color: #5F5F5F;
    font-size: 16px;
}
.col-xs-2>img{
    width: 20px;
    margin-top: 13px;
}
.order_04{
    background-color: #FFFFFF;
    padding: 13px;
    font-size: 16px;
    border-bottom: 2px solid #d0d0d0;
}
.clear{
    clear: both;
}
.pull-right>span{

}
.look{
    text-align: center;
    background-color: #E6E6E6;
    padding: 10px 0;
    font-size: 16px;
    color: #828282;
    cursor: pointer;
}
ul>li{
    list-style: none;
}
.details>ul>li{
    margin-top: 20px;
}
.orderlist{
    padding-bottom: 65px;
}
/*---------Ö§¸¶Ñ¡Ôñ-----------*/
.verify{
    position: fixed;
    bottom: 66px;
    background-color: #000000;
    opacity: 0.9;
    left: 0;
    right: 0;
    z-index: 991;
    color: #FFFFFF;
    font-size: 16px;
    display: block;
}
.verify_01{
    padding: 10px 20px;
}
.verify_02>ul>li{
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #FFFFFF;
}
/*----------------footer--------------*/
.side_tools{
    width: 100%;
    height: 66px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    border-top:1px solid #7a6d6c ;
}
.tools_icon{
    display: block;
    color: #7a6d6c;
    height: 66px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    font-size: 11px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width:33.3333%;
    float: left;
}
.tools_icon>.icon {
    display: block;
    width: 31px;
    color: #7a6d6c;
    height: 33px;
    margin: 8px auto 0;
    background-repeat: no-repeat;
    background-size: 100%;
}
.tools_icon>.icon01 {
    background-image: url(../images/register_19.jpg);
}
.tools_icon>.icon02 {
    background-image: url(../images/register_22.jpg);
}
.tools_icon>.icon05 {
    background-image: url(../images/register_24.jpg);
}
.tools_icon>.icon03 {
    background-image: url(../images/register_31.jpg);
}
.tools_icon>.icon04 {
    background-image: url(../images/register_26.jpg);
}
.tools_icon>.icon07 {
    background-image: url(../images/register_26.jpg);
}
.tools_icon>span>a{
    font-size: 14px;
    color: #7a6d6c;
}
.tools_icon>span>a:hover{
    text-decoration: none;
}