*{
    padding: 0;
    margin: 0;
    font-family: Microsoft YaHei;
}
.clear{
    clear: both;
}
ul>li{
    list-style: none;
}

/*----------------header--------------*/
.header{
    text-align: center;
    background-color: #36a0ac;
    padding: 10px 0;
    color: #FFFFFF;
    position: relative;
}
.a_position{
    position: absolute !important;
    left: 10px !important;
    top:12px !important;
    color:#FFFFFF;
}
.a_position:hover{
    color:#FFFFFF;
    text-decoration: none;
    cursor: pointer;
}
/*-------------定位跳转--------------*/
.orient{
    padding: 13px;
    background-color: #E6E6E6;
}
.orient_01{
    display: inline-block;
    color: #999999;
    font-size: 16px;
}
.orient_02{
    display: inline-block;
    color: #6E6E6E;
    font-size: 16px;
}

/*------------报价单详情-----------*/
.statement_01{
    margin-bottom: 15px;
}
.statement_01_left{
    text-align: center;
    border-right: 1px solid #FFFFFF;
    float: left;
    background-color: #323332;
    color: #FFFFFF;
    width: 50%;
    padding: 10px 0;
}
.statement_01_right{
    text-align: center;
    float: left;
    background-color: #323332;
    color: #FFFFFF;
    width: 49.9%;
    padding: 10px 0;
}
.statement_02{
     background-color: #F6F5F5;
     padding: 13px;
    font-size: 15px;
    border-bottom: 1px solid #dddddd;
}
.statement_02_left{
    float: left;
}
.statement_02_right{
    float: right;
}
.statement_03{
    text-align: center;
    background-color: #F6F5F5;
    padding: 13px;
    font-size: 16px;
    color: #6D6D6D;
}
.body_04 {
    text-align: center;
    background-color: #36a0ac;
    color: #FFFFFF;
    font-size: 18px;
    width: 100%;
    border: none;
    height: 55px;
}
.body_04:hover{
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
/*----------统计--------------*/
.body_03{
    position: fixed;
    bottom: 66px;
    left: 0;
    right: 0;
    z-index: 990;
    background-color: #FFFFFF;
    text-align: center;
}
.body_03>ul>li{
    float: left;
    width: 33.33%;
    padding: 10px 0;
    border-left: 1px solid #006603;
    border-right: 1px solid #006603;
}
/*---------支付选择-----------*/
.verify{
    position: fixed;
    bottom: 66px;
    background-color: #000000;
    opacity: 0.9;
    left: 0;
    right: 0;
    z-index: 991;
    color: #FFFFFF;
    font-size: 16px;
    display: none;
}
.verify_01{
    padding: 10px 20px;
}
.verify_02>ul>li{
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #FFFFFF;
}
.look{
    text-align: center;
    background-color: #E6E6E6;
    padding: 10px 0;
    font-size: 16px;
    color: #828282;
    cursor: pointer;
}
.arrows{
    width: 25px;
    height: 18px;
    margin-right: 10px;
    margin-top: 1px;
    background-image: url("../images/arrows.png");
    background-size: 100% 100%;
    float: left;
}
.arrows02{
    width: 25px;
    height: 18px;
    margin-right: 10px;
    margin-top: 1px;
    background-image: url("../images/arrows02.png");
    background-size: 100% 100%;
    float: left;
}
.order_02{
    padding: 13px;  color: #666666;  font-size: 16px;
}
.order_03{
    padding: 13px;  border-top: 2px solid #d0d0d0;  border-bottom: 1px solid #d0d0d0;  overflow: hidden;  max-width: 100%;  position: relative;
}
.order_03>img{
    width: 130px;  height: 130px;  padding: 10px;
}
/*----------------footer--------------*/
.side_tools{
    width: 100%;
    height: 66px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    border-top:1px solid #7a6d6c ;
}
.tools_icon{
    display: block;
    color: #7a6d6c;
    height: 66px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    font-size: 11px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width:33.3333%;
    float: left;
}
.tools_icon>.icon {
    display: block;
    width: 31px;
    color: #7a6d6c;
    height: 33px;
    margin: 8px auto 0;
    background-repeat: no-repeat;
    background-size: 100%;
}
.tools_icon>.icon01 {
    background-image: url(../images/register_19.jpg);
}
.tools_icon>.icon02 {
    background-image: url(../images/register_22.jpg);
}
.tools_icon>.icon05 {
    background-image: url(../images/register_24.jpg);
}
.tools_icon>.icon03 {
    background-image: url(../images/register_31.jpg);
}
.tools_icon>.icon04 {
    background-image: url(../images/register_26.jpg);
}
.tools_icon>.icon07 {
    background-image: url(../images/register_26.jpg);
}
.tools_icon>span>a{
    font-size: 14px;
    color: #7a6d6c;
}
.tools_icon>span>a:hover{
    text-decoration: none;
}