ul {
	-webkit-padding-start: 0;
}

.sceen {
	position: absolute;
	right: 18px;
	top: 12px;
	cursor: pointer;
}

.sceen img {
	width: 17px;
}

label img {
	width: 17px;
	margin-bottom: 2px;
}

.iphone-bg {
	background-color: #ffffff !important;
}

.screen {
	position: absolute;
	top: 10px;
	right: 5px;
	cursor: pointer
}

.input-group {
	width: 90%;
	background-color: #FFFFFF;
	border-radius: 20px;
	padding: 7px 0;
	border: 1px solid #ddd;
}

.input-group label {
	width: 15%;
	float: left;
	margin-bottom: 0;
	text-align: center;
	color: #fff;
}

.input-group span {
	color: #dddddd
}

.input-group input {
	width: 75%;
	float: left;
	background-color: #FFFFFF !important;
	border: none;
	outline: none;
	font-size: 15px;
	line-height: 25px;
}
/**[placeholder] {color: #000000 !important;}*/
/*::-webkit-input-placeholder {color: #000000 !important;}*/
.product_display_list>ul>li {
	padding: 5px 0;
	cursor: pointer
}

.product_display_list>ul>li>.col-xs-4 {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.product_display_list>ul>li>.col-xs-8 {
	padding-left: 5px !important;
	padding-right: 5px !important;
	position: relative
}

.sales {
	width: 50px;
	height: 50px;
	background-image: url("../images/sales.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	bottom: 0
}

.product_display_list>ul>li:not (:last-child ){
	border-bottom: 1px solid #dddddd;
}

.product_title {
	color: #686868;
	font-weight: bold;
	font-size: 15px
}

.product_word {
	color: #C60505;
	font-size: 13px
}

.product_price {
	color: #C60505;
	font-weight: bold;
	font-size: 13px;
	margin-top: 20px
}
/*----------ɸѡ����------*/
.side-cover {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	background: rgba(0, 0, 0, 0.6);
	display: none;
	width: 100%;
	height: 100%
}

.product-check {
	background: #fff;
	width: 240px;
	-webkit-animation: fadeInLeft 0.5s;
	display: none;
	height: 100%;
	position: relative
}

.p-c-header {
	position: absolute;
	width: 100%;
	height: 40px;
	top: 0;
	left: 0;
	border-bottom: 1px solid #ccc;
}

.p-c-header>.title {
	width: 100%;
	text-align: center;
}

.p-c-header>span {
	display: block;
	line-height: 40px;
	height: 40px;
}

.p-c-header>.left-btn {
	left: 10px;
	position: absolute;
	top: 0;
	font-size: 18px;
	color: #646464;
	cursor: pointer;
}

.p-c-header>.right-btn {
	right: 10px;
	position: absolute;
	top: 0;
	font-size: 18px;
	color: #646464;
	cursor: pointer;
}

.p-c-body {
	position: absolute;
	left: 0;
	top: 40px;
	bottom: 40px;
	width: 100%;
	background-color: #f2f2f2;
}

.p-c-title {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	padding-left: 10px;
	cursor: pointer;
}

.p-c-group>ul {
	background-color: #e5e5e5;
	overflow-y: auto;
}

.p-c-group>ul {
	max-height: 200px;
}

.p-c-group>ul>li {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-indent: 40px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.p-c-group>ul>li>i {
	position: absolute;
	right: 10px;
	top: 0;
	height: 40px;
	line-height: 40px;
	color: #f00;
	display: none
}

.clear-ctn>.clear-btn {
	width: 160px;
	height: 28px;
	line-height: 28px;
	margin: 6px auto;
	text-align: center;
	cursor: pointer;
	border: 1px solid #999;
}

.clear-ctn {
	position: absolute;
	left: 0;
	height: 40px;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #ccc;
}

.fadeOutLeft {
	-webkit-animation: fadeOutLeft 0.5s;
}

.swiper-wrapper>li {
	text-align: center;
	background-color: #ffffff;
	padding: 10px 0;
	border-bottom: 1px solid #dddddd;
	height: 46px
}

.tabMenuBox {
	height: 200px;
	overflow: hidden
}
/*------PC------*/
@media ( max-width : 759px) {
	.iphone-bg {
		padding-bottom: 51px
	}
	.showPC {
		display: none
	}
	.showPhone {
		display: block
	}
	.search {
		padding: 5px 0;
		width: 100%;
		position: fixed;
		top: 45px;
		z-index: 10;
		background-color: #FFFFFF
	}
	.side-cover-phone {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10000;
		background: rgba(0, 0, 0, 0.6);
		display: none;
		width: 100%;
		height: 100%
	}
}

@media ( min-width : 760px) {
	.showPC {
		display: box;
		display: -moz-box;
		display: -webkit-box;
	}
	.showPhone {
		display: none
	}
	.search {
		background-color: #FFFFFF;
		padding: 5px 0;
		width: 100%;
		position: relative;
		margin-top: 0
	}
	.product_display_list {
		z-index: -1;
		margin-top: 0;
		margin-bottom: 10px
	}
	.side-cover-phone {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10000;
		background: rgba(0, 0, 0, 0.6);
		display: none;
		width: 100%;
		height: 100%
	}
}

.product_display_list::-webkit-scrollbar {
	width: 5px;
}

.product_display_list::-webkit-scrollbar-track {
	background-color: #bee1eb;
}

.product_display_list::-webkit-scrollbar-thumb {
	background-color: #999999;
}

.product_display_list::-webkit-scrollbar-thumb:hover {
	background-color: #9c3
}

.product_display_list::-webkit-scrollbar-thumb:active {
	background-color: #00aff0
}

.p-c-group>ul ::-webkit-scrollbar {
	width: 5px;
}

.p-c-group>ul ::-webkit-scrollbar-track {
	background-color: #bee1eb;
}

.p-c-group>ul ::-webkit-scrollbar-thumb {
	background-color: #999999;
}

.p-c-group>ul ::-webkit-scrollbar-thumb:hover {
	background-color: #9c3
}

.p-c-group>ul ::-webkit-scrollbar-thumb:active {
	background-color: #00aff0
}

.product_display_list .col-xs-4 {
	padding-left: 5px;
	padding-right: 5px
}

.product_display_list .col-xs-8 {
	padding-left: 5px;
	padding-right: 5px
}

.copyright {
	text-align: center
}
/* 小屏幕（平板，大于等于 768px） */
@media ( max-width : 768px) {
	.product_display_list img {
		width: 100%;
		height: 180px
	}
	.hot {
		background-color: red;
		color: white;
		text-align: center;
		width: 97%;
		position: absolute;
		font-size: 12px;
	}
		.product_display_list {
		z-index: -1;
		margin-top: 100px;
	}
	.product-check-phone {
	background: #fff;
	width: 70%;
	-webkit-animation: fadeInLeft 0.5s;
	display: none;
	height: 100%;
	position: relative
}
.search>.input-group{
margin-left: 1px;
}
}
/* 小屏幕（平板，大于等于 768px） */
@media ( min-width : 768px) {
	.product_display_list img {
		width: 100%;
		height: 120px
	}
	.hot {
		background-color: red;
		color: white;
		text-align: center;
		width: 97%;
		position: absolute;
		font-size: 12px;
	}
	.product-check-phone {
	background: #fff;
	width: 50%;
	-webkit-animation: fadeInLeft 0.5s;
	display: none;
	height: 100%;
	position: relative
}
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media ( min-width : 992px) {
	.product_display_list img {
		width: 100%;
		height: 200px
	}
	.hot {
		background-color: red;
		color: white;
		text-align: center;
		width: 97%;
		position: absolute;
		font-size: 12px;
	}
	.product-check-phone {
	background: #fff;
	width: 50%;
	-webkit-animation: fadeInLeft 0.5s;
	display: none;
	height: 100%;
	position: relative
}
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media ( min-width : 1200px) {
	.product_display_list img {
		width: 100%;
		height: 200px
	}
	.hot {
		background-color: red;
		color: white;
		text-align: center;
		width: 97%;
		position: absolute;
		font-size: 12px;
	}
		.product_display_list {
		z-index: -1;
		margin-top: 100px;
	}
	.product-check-phone {
	background: #fff;
	width: 30%;
	-webkit-animation: fadeInLeft 0.5s;
	display: none;
	height: 100%;
	position: relative
}
}