
@media screen and (min-width: 1200px){
	.product_img_ctn{ 
		width:344px; 
		height:338px; 
		overflow:hidden; 
		margin:30px 10px; 
		float:left;
		border:1px solid #ccc;
	}
	.product_img_ctn:hover{ 
		box-shadow:0 0 10px rgba(0,124,194,0.5);
	}
	.panel_head{ 
		display:block; 
		width:344px; 
		height:199px;
		overflow:hidden;
	}
	.panel_head img{ 
		width:100%;
	}
	.panel_body{ 
		width:344px; 
		height:139px;
		border-top:1px solid #ccc;
		padding:5px 0;
		overflow:hidden;
		position:relative;
	}
	.product_name{
		line-height:20px;
		width:290px;
		height:44px;
		overflow:hidden;
		margin:auto; 
		padding:5px 0;
	}
	.text_sm{ 
		font-size:14px; 
		color:#323232; 
	}
	.checkbox_left{ 
		display:block;
		position:absolute;
		left:5px;
		top:10px;
	}
	.product_tips{
		width:290px;
		margin:auto;
		padding:5px 0;
		line-height:16px;
		height:36px;
		overflow: hidden;
	}
	.text_xs{ 
		font-size:12px;
		color:#858585;
	}
	.product_price{ 
		width:290px;
		margin:auto;
		color:#C81B1D;
		font-weight:bold;
		margin-top:5px;
	}
	.text-lg{ 
		font-size:20px;
	}
}

@media screen and (max-width: 1199px) and (min-width: 768px){
	.product_img_ctn{ 
		width:30%; 
		margin:10px 1.667%; 
		float:left;
		border:1px solid #ccc;
	}
	
	.panel_head{ 
		display:block; 
		overflow:hidden;
	}
	.panel_head img{ 
		width:100%;
	}
	.panel_body{ 
		height:139px;
		border-top:1px solid #ccc;
		padding: 10px 5px;
		overflow:hidden;
		text-indent: 20px;
		position:relative;
	}
	.product_name{
		line-height:20px;
		height:44px;
		overflow:hidden;
		margin:auto; 
	}
	.text_sm{ 
		font-size:14px; 
		color:#323232; 
	}
	.checkbox_left{ 
		display:block;
		position:absolute;
		left:5px;
		top:10px;
	}
	.product_tips{
		margin:auto;
		line-height:16px;
		height:32px;
		overflow: hidden;
	}
	.text_xs{ 
		font-size:12px;
		color:#858585;
	}
	.product_price{ 
		margin:auto;
		color:#C81B1D;
		font-weight:bold;
		margin-top:10px;
		text-indent: 0;
	}
	.text-lg{ 
		font-size:20px;
	}
	
}

@media screen and (max-width: 767px){
	.product_img_ctn{ 
		width:96%; 
		border:1px solid #ccc;
		margin: auto;
		margin-bottom: 10px;
	}
	
	.panel_head{ 
		display:block; 
		overflow:hidden;
	}
	.panel_head img{ 
		width:100%;
	}
	.panel_body{ 
		border-top:1px solid #ccc;
		padding: 5px;
		overflow:hidden;
		text-indent: 20px;
		position:relative;
	}
	.product_name{
		line-height:20px;
		height:44px;
		overflow:hidden;
		margin:auto; 
	}
	.text_sm{ 
		font-size:14px; 
		color:#323232; 
	}
	.checkbox_left{ 
		display:block;
		position:absolute;
		left:5px;
		top:10px;
	}
	.product_tips{
		margin:auto;
		line-height:16px;
		height:32px;
		overflow: hidden;
	}
	.text_xs{ 
		font-size:12px;
		color:#858585;
	}
	.product_price{ 
		margin:auto;
		color:#C81B1D;
		font-weight:bold;
		margin-top:10px;
		text-indent: 0;
	}
	.text-lg{ 
		font-size:20px;
	}	
}


/*搜索*/
@media screen and (min-width: 1200px){
	.search-ctn{
		width: 600px;
		height: 32px;
		margin: 10px auto;
		position: relative;
	}

	.search-gp{
		border: 2px solid #f40;
		position: absolute;
		left: 0;
		top: 0;
		right: 100px;
		height: 100%;
		font-size: 14px;
	}
	
	.search-gp>input{
		padding: 0 8px;
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
		display: block;
		box-sizing: -webkit-border-box;
		box-sizing: -moz-border-box;
		box-sizing: -ms-border-box;
		box-sizing: -o-border-box;
		box-sizing: border-box;
	}
	.search-gp>span{
		display: block;
		position: absolute;
		right: -2px;
		top: 0;
		bottom: 0;
		padding: 0 10px;
		background: #f40;
		line-height: 28px;
		text-align: center;
		color: #fff;
		font-size: 13px;
		cursor: pointer;
	}

	.search-ctn>button{
		position: absolute;
		right: 0px;
		top: 0px;
		color: #fff;
		height: 32px;
		border: 1px solid #f40;
		background: #f40;
		font-size: 14px;
		cursor: pointer;
	}
}

@media screen and (max-width: 1199px) and (min-width: 769px){
	.search-ctn{
		width: 600px;
		height: 32px;
		margin: 10px auto;
		position: relative;
	}

	.search-gp{
		border: 2px solid #f40;
		position: absolute;
		left: 0;
		top: 0;
		right: 100px;
		height: 100%;
		font-size: 14px;
	}
	
	.search-gp>input{
		padding: 0 8px;
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
		display: block;
		box-sizing: -webkit-border-box;
		box-sizing: -moz-border-box;
		box-sizing: -ms-border-box;
		box-sizing: -o-border-box;
		box-sizing: border-box;
	}
	.search-gp>span{
		display: block;
		position: absolute;
		right: -2px;
		top: 0;
		bottom: 0;
		padding: 0 10px;
		background: #f40;
		line-height: 28px;
		text-align: center;
		color: #fff;
		font-size: 13px;
		cursor: pointer;
	}

	.search-ctn>button{
		position: absolute;
		right: 0px;
		top: 0px;
		color: #fff;
		height: 32px;
		border: 1px solid #f40;
		background: #f40;
		font-size: 14px;
		cursor: pointer;
	}
}

@media screen and (max-width: 768px){
	body{
		padding-top: 50px;
	}

	.search-ctn{
		position: fixed;
		top: 0;
		left: 0;
		height: 50px;
		right: 0;
		background: #fff;
		z-index: 20;
		border-bottom: 1px solid #e0e0e0;
	}
	.search-gp{
		height: 32px;
		top: 8px;
		left: 10px;
		right: 48px;
		position: absolute;
		overflow: hidden;
		border: 1px solid #ccc;
		border-radius: 1.5em;
	}

	.search-gp>input{
		width: 100%;
		height: 100%;
		border: none;
		padding-left: 35px;
	}

	.search-gp>span{
		font-size: 0;
		width: 28px;
		height: 28px;
		background: url(/images/search-icon.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% 100%;
		display: block;
		position: absolute;
		top: 1px;
		left: 1px;
		border-radius: 14px;
		overflow: hidden;
		cursor: pointer;
	}

	.search-ctn>button{
		position: absolute;
		right: 10px;
		top: 10px;
		color: #fff;
		height: 28px;
		border: none;
		font-size: 0px;
		padding: 0;
		width: 28px;
		background: url(/images/check-icon.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% 100%;
		cursor: pointer;
	}
}



@media screen and (min-width: 1200px){
	.product{
		width: 252px;
		height: 380px;	
		float: left;
		margin: 10px 10px 0px 10px;
		border: 1px solid #e5e5e5;
	}

	.product>.pro-img{
		display: table-cell;
		width: 250px;
		height: 250px;
		background: #fff;
		text-align: center;
		vertical-align: middle;
		overflow: hidden;
	}

	.product>.pro-img>img{
		max-width: 250px;
		max-height: 250px;
	}

	.product>.pro-msg{
		height: 130px;
		width: 100%;
		padding: 10px;
	}

	.product>.pro-msg>.row-01{
		height: 24px;
		line-height: 24px;
		width: 100%;
	}

	.product>.pro-msg>.row-01>.price{
		display: block;
		float: left;
		font-size: 18px;
		color: #f40;
		font-family: verdana,arial;
	}

	.product>.pro-msg>.row-01>.repertory{
		display: block;
		float: right;
		font-size: 12px;
		color: #888;
		font-family: '宋体';
	}

	.product>.pro-msg>.row-02>.name{
		line-height: 20px;
		display: block;
		height: 44px;
		overflow: hidden;
		font-family: '宋体';
		font-size: 12px;
		margin-top: 8px;
	}

	.product>.pro-msg>.row-03{
		height: 34px;
		overflow: hidden;
		margin-top: 3px;
	}

	.product>.pro-msg>.row-03>.num-input{
		float: left;
		width: 150px;
		overflow: hidden;
	}

	.product>.pro-msg>.row-03>.num-input>.num-label{
		width: 30px;
		float: left;
		font-size: 12px;
		height: 34px;
		line-height: 34px;
	}

	.product>.pro-msg>.row-03>.num-input>.input{
		width: 80px;
		margin-left: 10px;
		border: 1px solid #bbb;
		float: left;
		height: 28px;
		margin-top: 3px;
		line-height: 26px;
		position: relative;
	}

	.product>.pro-msg>.row-03>.num-input>.input>input{
		display: block;
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
		padding: 0 23px;
		z-index: 12;
		color: #555;
		text-align: center;
		box-sizing: -webkit-border-box;
		box-sizing: -moz-border-box;
		box-sizing: -ms-border-box;
		box-sizing: -o-border-box;
		box-sizing: border-box;
		font-size: 14px;
	}

	.product>.pro-msg>.row-03>.num-input>.input>span{
		position: absolute;
		z-index: 13;
		top: 0;
		width: 22px;
		height: 26px;
		line-height: 26px;
		text-align: center;
		cursor: pointer;
	}

	.product>.pro-msg>.row-03>.num-input>.input>.add{
		right: 0;
		border-left: 1px solid #bbb;
		color: #888;
	}

	.product>.pro-msg>.row-03>.num-input>.input>.sub{
		left: 0;
		border-right: 1px solid #bbb;
		color: #888;
	}

	.product>.pro-msg>.row-03>.num-input>.num-unit{
		float: left;
		width: 30px;
		font-size: 14px;
		text-align: center;
		line-height: 34px;
		color: #777;
	}

	.product>.pro-msg>.row-03>.reduce{
		float: right;
		font-size: 12px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		width: 60px;
	}

	.product>.pro-msg>.row-03>.reduce>div{
		display: block;
		float: right;
		line-height: 34px;
		color: #888;
	}

	.product:hover{
		border: 1px solid #f40;
	}

	.product:hover .pro-msg>.row-02{
		color: #f40;
	}
}

@media screen and (max-width: 1199px) and (min-width: 769px){
	.product{
		width: 23%;
		height: 330px;	
		float: left;
		margin: 10px 1.5% 0px;
		border: 1px solid #e5e5e5;
	}

	.product>.pro-img{
		width: 100%;
		height: 200px;
		background: #fff;
		overflow: hidden;
		display: block;
	}

	.pro-img>img{
		width: 100%;
		height: 100%;
	}

	.product>.pro-msg{
		height: 130px;
		width: 100%;
		padding: 10px;
	}

	.product>.pro-msg>.row-01{
		height: 24px;
		line-height: 24px;
		width: 100%;
	}

	.product>.pro-msg>.row-01>.price{
		display: block;
		float: left;
		font-size: 18px;
		color: #f40;
		font-family: verdana,arial;
	}

	.product>.pro-msg>.row-01>.repertory{
		display: block;
		float: right;
		font-size: 12px;
		color: #888;
		font-family: '宋体';
	}

	.product>.pro-msg>.row-02>.name{
		line-height: 20px;
		display: block;
		height: 44px;
		overflow: hidden;
		font-family: '宋体';
		font-size: 12px;
		margin-top: 8px;
	}

	.product>.pro-msg>.row-03{
		height: 34px;
		overflow: hidden;
		margin-top: 3px;
	}

	.product>.pro-msg>.row-03>.num-input{
		float: left;
		width: 160px;
		overflow: hidden;
	}

	.product>.pro-msg>.row-03>.num-input>.num-label{
		width: 30px;
		float: left;
		font-size: 12px;
		height: 34px;
		line-height: 34px;
	}

	.product>.pro-msg>.row-03>.num-input>.input{
		width: 80px;
		margin-left: 10px;
		border: 1px solid #bbb;
		float: left;
		height: 24px;
		margin-top: 5px;
		line-height: 22px;
		position: relative;
	}

	.product>.pro-msg>.row-03>.num-input>.input>input{
		display: block;
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
		padding: 0 23px;
		z-index: 12;
		color: #555;
		text-align: center;
		box-sizing: -webkit-border-box;
		box-sizing: -moz-border-box;
		box-sizing: -ms-border-box;
		box-sizing: -o-border-box;
		box-sizing: border-box;
		font-size: 14px;
	}

	.product>.pro-msg>.row-03>.num-input>.input>span{
		position: absolute;
		z-index: 13;
		top: 0;
		width: 18px;
		height: 22px;
		line-height: 20px;
		text-align: center;
		cursor: pointer;
	}

	.product>.pro-msg>.row-03>.num-input>.input>.add{
		right: 0;
		border-left: 1px solid #bbb;
		color: #888;
	}

	.product>.pro-msg>.row-03>.num-input>.input>.sub{
		left: 0;
		border-right: 1px solid #bbb;
		color: #888;
	}

	.product>.pro-msg>.row-03>.num-input>.num-unit{
		float: left;
		width: 30px;
		font-size: 14px;
		text-align: center;
		line-height: 34px;
		color: #777;
	}

	.product>.pro-msg>.row-03>.reduce{
		float: right;
		font-size: 12px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		width: 60px;
	}

	.product>.pro-msg>.row-03>.reduce>div{
		display: block;
		float: right;
		line-height: 34px;
		color: #888;
	}

	.product:hover{
		border: 1px solid #f40;
	}

	.product:hover .pro-msg>.row-02{
		color: #f40;
	}
}

@media screen and (max-width: 768px){
	.product{
		width: 96%;
		height: 330px;	
		margin: 10px auto 0;
		border: 1px solid #e5e5e5;
	}

	.product>.pro-img{
		width: 100%;
		height: 200px;
		background: #fff;
		overflow: hidden;
		display: block;
	}

	.pro-img>img{
		width: 100%;
		height: 100%;
	}

	.product>.pro-msg{
		height: 130px;
		width: 100%;
		padding: 10px;
	}

	.product>.pro-msg>.row-01{
		height: 24px;
		line-height: 24px;
		width: 100%;
	}

	.product>.pro-msg>.row-01>.price{
		display: block;
		float: left;
		font-size: 18px;
		color: #f40;
		font-family: verdana,arial;
	}

	.product>.pro-msg>.row-01>.repertory{
		display: block;
		float: right;
		font-size: 12px;
		color: #888;
		font-family: '宋体';
	}

	.product>.pro-msg>.row-02>.name{
		line-height: 20px;
		display: block;
		height: 44px;
		overflow: hidden;
		font-family: '宋体';
		font-size: 12px;
		margin-top: 8px;
	}

	.product>.pro-msg>.row-03{
		height: 34px;
		overflow: hidden;
		margin-top: 3px;
	}

	.product>.pro-msg>.row-03>.num-input{
		float: left;
		width: 180px;
		overflow: hidden;
	}

	.product>.pro-msg>.row-03>.num-input>.num-label{
		width: 30px;
		float: left;
		font-size: 12px;
		height: 34px;
		line-height: 34px;
	}

	.product>.pro-msg>.row-03>.num-input>.input{
		width: 100px;
		margin-left: 10px;
		border: 1px solid #bbb;
		float: left;
		height: 30px;
		margin-top: 2px;
		line-height: 22px;
		position: relative;
	}

	.product>.pro-msg>.row-03>.num-input>.input>input{
		display: block;
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
		padding: 0 23px;
		z-index: 12;
		color: #555;
		text-align: center;
		box-sizing: -webkit-border-box;
		box-sizing: -moz-border-box;
		box-sizing: -ms-border-box;
		box-sizing: -o-border-box;
		box-sizing: border-box;
		font-size: 14px;
	}

	.product>.pro-msg>.row-03>.num-input>.input>span{
		position: absolute;
		z-index: 13;
		top: 0;
		width: 22px;
		height: 28px;
		line-height: 28px;
		text-align: center;
		cursor: pointer;
	}

	.product>.pro-msg>.row-03>.num-input>.input>.add{
		right: 0;
		border-left: 1px solid #bbb;
		color: #888;
	}

	.product>.pro-msg>.row-03>.num-input>.input>.sub{
		left: 0;
		border-right: 1px solid #bbb;
		color: #888;
	}

	.product>.pro-msg>.row-03>.num-input>.num-unit{
		float: left;
		width: 30px;
		font-size: 14px;
		text-align: center;
		line-height: 34px;
		color: #777;
	}

	.product>.pro-msg>.row-03>.reduce{
		float: right;
		font-size: 12px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		width: 60px;
	}

	.product>.pro-msg>.row-03>.reduce>div{
		display: block;
		float: right;
		line-height: 34px;
		color: #888;
	}

	.product:hover{
		border: 1px solid #f40;
	}

	.product:hover .pro-msg>.row-02{
		color: #f40;
	}
}



.side-cover{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	background: rgba(0,0,0,0.6);
}

.product-check{
	position: fixed;
	z-index: 10001;
	background: #fff;
	top: 0;
	bottom: 0;
}

.p-c-header{
	position: absolute;
	width: 100%;
	height: 40px;
	top: 0;
	left: 0;
	border-bottom: 1px solid #ccc;
}
.p-c-header>span{
	display: block;
	line-height: 40px;
	height: 40px;
}

.p-c-header>.title{
	width: 100%;
	text-align: center;
}

.p-c-header>.left-btn,.p-c-header>.right-btn{
	position: absolute;
	top: 0;
	font-size: 14px;
	color: #646464;
	cursor: pointer;
}

.p-c-header>.left-btn{
	left: 10px;
}

.p-c-header>.right-btn{
	right: 10px;
}

.p-c-body{
	position: absolute;
	left: 0;
	top: 40px;
	bottom: 40px;
	width: 100%;
	overflow-y: auto; 
	background-color: #f2f2f2;
}

.clear-ctn{
	position: absolute;
	left: 0;
	height: 40px;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid #ccc;
}

.clear-ctn>.clear-btn{
	width: 160px;
	height: 28px;
	line-height: 28px;
	margin: 6px auto;
	text-align: center;
	cursor: pointer;
	border: 1px solid #999;
}
@media screen and (min-width: 1200px){
	.product-check{
		width: 600px;
	}
	.p-c-group>ul{
		height: 400px;
		border-bottom: 1px solid #ccc;
	}
	.p-c-group>ul>li{
		float: left;
		width: 23%;
		height: 30px;
		line-height: 30px;
		text-indent: 10px;
		margin: 5px 1%;
		border: 1px solid #ccc;
		cursor: pointer;
		position: relative;
		overflow: hidden;
	}

	.p-c-group>ul>li>i{
		display: block;
		position: absolute;
		right: 10px;
		top: 0;
		height: 30px;
		line-height: 30px;
		display: none;
		color: #f00;
	}
}

@media screen and (max-width: 1199px) and (min-width: 769px){
	.product-check{
		width: 600px;
	}

	.p-c-group>ul{
		height: 400px;
		border-bottom: 1px solid #ccc;
	}
	.p-c-group>ul>li{
		float: left;
		width: 23%;
		height: 30px;
		line-height: 30px;
		text-indent: 10px;
		margin: 5px 1%;
		border: 1px solid #ccc;
		cursor: pointer;
		position: relative;
		overflow: hidden;
	}

	.p-c-group>ul>li>i{
		display: block;
		position: absolute;
		right: 10px;
		top: 0;
		height: 30px;
		line-height: 30px;
		display: none;
		color: #f00;
	}
}

@media screen and (max-width: 768px){
	.product-check{
		width: 240px;
	}

	.p-c-group>ul{
		max-height: 200px;
	}
	.p-c-group>ul>li{
		width: 100%;
		height: 40px;
		line-height: 40px;
		text-indent: 10px;
		border-bottom: 1px solid #ccc;
		cursor: pointer;
		position: relative;
		overflow: hidden;
	}

	.p-c-group>ul>li>i{
		display: block;
		position: absolute;
		right: 10px;
		top: 0;
		height: 40px;
		line-height: 40px;
		display: none;
		color: #f00;
	}
}

.p-c-title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	padding-left: 10px;
	cursor: pointer;
}

.p-c-title *{
	display: block;
	height: 40px;
	line-height: 40px;
}

.p-c-title>.title{
	float: left;
}

.p-c-title>i{
	float: right;
}

.p-c-title>.checked{
	float: right;
	margin-right: 10px;
	font-size: 14px;
	color: #555;
}


.p-c-group>ul{
	
	background-color: #e5e5e5;
	overflow-y: auto; 
}

.product>.row-04{
	overflow: hidden;
	height: 40px;
}

.product>.pro-msg>.row-04>button{
	float: right;
	border: 1px solid #f40;
	border-radius: 3px;
	font-size: 14px;
	height: 26px;
	color: #f40;
	margin-top: 7px;
	cursor: pointer;
	background-color: #fff;
}

.product>.pro-msg>.row-04>input{
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	-weibkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	margin-top: 10px;
}