.header{text-align: left !important;}
.header a{position: inherit}
.contant{margin-top: 20px}
.order{text-align: center;font-size: 20px;}
.money{text-align: center;font-size: 24px;}.money span{text-align: center;font-size: 24px;}
.contant ul{border-top: 1px solid #dddddd;}
.contant li{border-bottom: 1px solid #dddddd;padding: 10px;font-size: 14px}
.contant .pull-left{font-size: 16px;color: #B8B8B8}
.contant .pull-right{font-size: 16px} 