html{
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
}
.row{
	margin-right: 0px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, 
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn, em, font, img, ins, 
kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    font-weight: inherit; 
    font-style: inherit; 
    font-size: 100%; 
    font-family: inherit; 
    vertical-align: baseline; 
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}

:focus {
    outline: 0;
} 
a, a:link, a:visited, a:hover, a:active{
    text-decoration:none;
    color: inherit;
} 
table {
    border-collapse: separate;
    border-spacing: 0;
}

th, td {
    text-align: left;
    font-weight: normal;
} 
img, iframe {
    border: none;
    text-decoration:none;
    display: block;
} 
ol, ul {
    list-style: none;
} 
input, textarea, select, button {
    font-size: 100%;
    font-family: inherit;
} 
select {
    margin: inherit;
} 
hr {
    margin: 0;
    padding: 0;
    border: 0;
    color: #000;
    background-color: #000;
    height: 1px
}

.cover{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
	z-index: 1;
}

/*页脚*/
@media screen and (min-width: 1200px){
	footer{ 
		padding-top: 30px;
		background-color:#2a2a2a;
	}
	.footer_ctn{ 
		width:1200px;
		margin:auto;
		overflow:hidden;
	}
	.footer_left{ 
		float:left;
		width:600px;
	}

	.footer_img_ctn{ 
		overflow:hidden;
		padding:30px 0;
	}
	.img_ctn{ float:left;
		color:#7f7f7f;
		font-size:14px;
		text-align:center;
		margin-left:40px;
		margin-bottom:20px;
	}
	.img_ctn_img{ width:70px; 
		height:70px; 
		overflow:hidden; 
		border-radius:6px;
	}
	.img_ctn_img img{ 
		width:100%;
	}
	.img_ctn_text{ 
		width:70px; 
		line-height:24px;
		margin-top: 5px;
	}
	.img_text_ctn{ 
		overflow:hidden;
		padding-bottom:50px;
	}
	.img_ctn_left{ 
		width:80px; 
		height:80px; 
		float:left;
		margin-left:60px;
	}
	.img_ctn_left img{ 
		width:100%;
	}
	.img_text_ctn ul{ 
		float:left;
		margin-left:30px;
		color:#7f7f7f;
		font-size:14px;
		width:400px;
		line-height:26px;
	}
	.img_text_ctn li:hover{ 
		color:#cfcfcf; 
		cursor:default;
	}
	.img_text_ctn i{ 
		width:40px;
	}
	.company{ 
		float:right; 
		margin-right:50px; 
		margin-top:30px; 
		height:54px;
	}
	.company img{ 
		height:100%;
	}
	.copyright{
		font-size: 12px;
		color: #646464;
		text-align: center;
		margin-bottom: 10px;
	}
		/*@media screen and (min-width: 1200px)*/
.footer_right{
    overflow:hidden;
    padding-top:60px;
    margin:0 auto;
	margin-bottom: 50px;
}
	.footer_right span{
		padding-right: 80px;
	}
	.points{
		margin-left: 2.6%;
	}
	.points>.right{
		padding-left: 20px;
	}
}

@media screen and (max-width: 1199px) and (min-width: 768px){
	footer{ 
		background-color:#2a2a2a;
	}
	.footer_ctn{ 
		width:100%;
		margin:auto;
		overflow:hidden;
		padding-top: 30px;
	}
	.footer_left{ 
		float:left;
		width: 350px;
	}

	.footer_img_ctn{ 
		overflow:hidden;
		padding:10px 0;
	}
	.img_ctn{ 
		float:left;
		color:#7f7f7f;
		font-size:12px;
		text-align:center;
		margin-left:18px;
	}
	.img_ctn_img{ width:40px; 
		height:40px; 
		overflow:hidden; 
		margin: auto;
		border-radius:6px;
	}
	.img_ctn_img img{ 
		width:100%;
	}
	.img_ctn_text{ 
		width:50px; 
		line-height:24px;
	}
	.img_text_ctn{ 
		margin-top: 10px;
		overflow:hidden;
		padding-bottom:36px;
	}
	.img_ctn_left{ 
		display: none;
	}

	.img_text_ctn ul{ 
		color:#7f7f7f;
		font-size:14px;
		width:400px;
		line-height:26px;
	}
	.img_text_ctn li:hover{ 
		color:#cfcfcf; 
		cursor:default;
	}
	.img_text_ctn i{ 
		width:40px;
	}
.footer_right{
    overflow:hidden;
    /*width:450px;*/
    padding-top:20px;
    margin:0 auto;
}
.footer_right span{
	padding-right: 40px;
}
	.company{
		float:right; 
		margin-right:20px; 
		margin-top:30px; 
		height:54px;
	}
	.company img{ 
		height:100%;
	}
	.copyright{ 
		clear:both; 
		font-size:14px; 
		float:right;
		color:#7f7f7f;
		text-align:right;
		line-height:24px; 
		margin-right:20px; 
		margin-top:18px;
	}
}

@media screen and (max-width: 767px){
	footer{ 
		background-color:#eee;
		box-shadow: 0 0 5px rgba(0,0,0,0.3)
	}
	.footer_ctn{ 
		width:100%;
		margin:auto;
		overflow:hidden;
	}
	.footer_left{ 
		display: none;
	}

	.footer_right{ 
		overflow:hidden;
		padding :10px 0 60px 0;
	}
/*@media screen and (max-width: 767px)*/
.footer_right span{
	padding-right: 25px;
}
.footer_right>div{
    padding-top:10px;
}
	.company{ 
		display: none;
	}

	.copyright{ 
		display: block;
		font-size:12px; 
		color:#646464;
		width: 200px;
		margin: auto;
		text-align:center;
		line-height:18px; 
	}
}


/*侧边工具栏*/

@media screen and (min-width: 1200px){
	.side_tools{
		width:86px;
		color:#fff;
		position:fixed;
		right:0;
		top:40%;
		margin-top:-122px;
		z-index: 10;
	}
	div[class="side_tools logo_container"]>#fenxiang{
		position: absolute;
		bottom: 5px;
		right: 80px;
		display: none;
		width: 230px;
	}
	div[class="side_tools logo_container"]>#mobile_fenxiang{
		display: none;
	}
	.tools_icon{
		display: block;
		height:60px;
		text-align:center;
		background-color:#007cc2;
		margin-bottom:1px;
		line-height:60px;
		cursor:pointer;
		font-size:16px;
		position:relative;
	}

	.tools_icon.active{
		background-color:#da251c;
	}
	.tools{ 
		font-size:14px;
		position:absolute;
		display:none;
	}
	.qq_icon{ 
		width:244px;
		height:60px;
		right:100%;
		top:0;
	}
	.qq_icon a{ 
		display:block;
		float:left;
		width:60px;
		margin-left:1px;
		background-color:#da251c;
		height:60px;
		line-height:20px;
		font-size:12px;
	}
	.qq_icon a i{ 
		display:block;
		width:60px;
		text-align:center;
		line-height:40px;
		font-size:18px;
	}
	.tools_icon .qq_icon a:hover{ 
		background-color:#fff; 
		width:58px; 
		height:58px; 
		border:1px solid #da251c;
		color:#da251c;
	}
	.phone_icon{ 
		right:100%;
		top:0;
		width:200px;
		height:60px;
		background-color:#da251c;
		font-size:24px;
	}
	.qr_code{ 
		right:100%;
		bottom:0;
		width:90px;
		height:90px;
		padding:15px;
		background-color:#fefefe;
		overflow:hidden;
	}
	.qr_code img{ 
		width:100%;
	}
	.tools_icon:hover .tools{ 
		display:block;
	}
	
	#back-to-top{
		width: 88px;
		height: 88px;
		background-image: url(../images/back-top.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		position: fixed;
		right: 10px;
		bottom: 40px;
		cursor: pointer;
	}
	.footer_right>span{
		padding-right: 80px;
		color: #ffffff;
	}
	.footer_right>span:last-child{
		padding-right: 0;
	}
}

@media screen and (max-width: 1199px) and (min-width: 768px){
	.side_tools{ 
		width:50px;
		height:244px;
		color:#fff;
		position:fixed;
		right:0;
		top:40%;
		margin-top:-122px;
		z-index: 2;
	}
	div[class="side_tools logo_container"]>#mobile_fenxiang{
		display: none;
	}
	.side_tools>.tools_icon{
		display: block;
		width:50px;
		height:50px;
		text-align:center;
		background-color:#007cc2;
		margin-bottom:1px;
		line-height:50px;
		cursor:pointer;
		font-size:14px;
		position:relative;
	}
	.tools{ 
		font-size:14px;
		position:absolute;
		display:none;
	}
	.qq_icon{ 
		width:204px;
		height:50px;
		right:100%;
		top:0;
	}
	.qq_icon a{ 
		display:block;
		float:left;
		width:50px;
		margin-left:1px;
		background-color:#da251c;
		height:50px;
		line-height:20px;
		font-size:10px;
		text-align: center;
	}
	.qq_icon a i{ 
		display:block;
		width:50px;
		text-align:center;
		line-height:30px;
		font-size:18px;
	}
	.tools_icon .qq_icon a:hover{ 
		background-color:#fff; 
		width:50px; 
		height:50px; 
		border:1px solid #da251c;
		color:#da251c;
	}
	.phone_icon{ 
		right:100%;
		top:0;
		width:150px;
		height:50px;
		background-color:#da251c;
		font-size:18px;
	}
	.qr_code{ 
		right:100%;
		bottom:0;
		width:90px;
		height:90px;
		padding:15px;
		background-color:#fefefe;
		overflow:hidden;
	}
	.qr_code img{ 
		width:100%;
	}
	.tools_icon:hover .tools{ 
		display:block;
	}
	.side_tools .top_icon:hover{
		background-image:url(../images/top_icon_bg.png);
		color:#da251c;
	}
	#back-to-top{
		width: 44px;
		height: 44px;
		background-image: url(../images/back-top.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		position: fixed;
		right: 10px;
		bottom: 50px;
		cursor: pointer;
	}

}

@media screen and (max-width: 767px){
	.side_tools{ 
		width:100%;
		height:58px;
		position:fixed;
		right:0;
		bottom: 0;
		z-index: 10;
	}
	.tools_icon{
		display: block;
		color:#7a6d6c;
		height:58px;
		text-align:center;
		background-color:#fff;
		cursor:pointer;
		font-size:11px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		width: 16.6666%;
		float: left;
		background-color: #85bfde;
	}
	.mobile_fenXiang1{
		display: none;
	}

	.tools_icon>.icon{
		display: block;
		width: 31px;
		height: 33px;
		margin: 8px auto 0;
		background-repeat: no-repeat;
		background-size: 100%;
	}

	.tools_icon>.name{
		display: block;
	}
	.tools_icon>.icon01{
		background-image: url(../images/home.png);
	}
	.tools_icon>.icon02{
		background-image: url(../images/chanpin.png);
	}
	.tools_icon>.icon03{
		background-image: url(../images/anli.png);
	}
	.tools_icon>.icon04{
		background-image: url(../images/fuwu.png);
	}
	.tools_icon>.icon05{
		background-image: url(../images/koubei.png);
	}
	.tools_icon>.icon06{
		background-image: url(../images/share.png);
		width: 45px;
		height: 45px;
	}
	.mobile_fenXiang{
		position: fixed;
		bottom: 55px;
		left: 3px;
		background:none;
		width: 45px;
		margin: 0;
	}
	.mobile_fenXiang>.textonly{
		display: none;
	}
	.tools_icon>.icon07{
		background-image: url(../images/me.png);
	}
	#fenxiang{
		display: none;
		width: 250px;
		height: 50px;
		position: fixed;
		left: 55px;
		bottom: 55px;
		z-index: 100;
	}
	#mobile_fenxiang{
		position: fixed;
		left: 5px;
		bottom: 61px;
	}

	/*.tools_icon.active>.icon01{*/
		/*background-position: 0px -110px;*/
	/*}*/
	/*.tools_icon.active>.icon02{*/
		/*background-position: 0px -22px;*/
	/*}*/
	/*.tools_icon.active>.icon03{*/
		/*background-position: 0px -66px;*/
	/*}*/
	/*.tools_icon.active>.icon04{*/
		/*background-position: 0px -154px;*/
	/*}*/
	/*.tools_icon.active>.icon05{*/
		/*background-position: 0px -198px;*/
	/*}*/

	.tools_icon.active{
		color: #7ac469;
	}

	#back-to-top{
		width: 55px;
		height: 55px;
		background-image: url(../images/back-top.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		position: fixed;
		right: 5px;
		bottom: 60px;
		cursor: pointer;
	}
}


/*页面标题*/
@media screen and (min-width: 1200px){
	.main_title_container{ 
		width:100%; 
		height:180px; 
		background-image:url(../images/main_title_bg.png);
		padding-top:80px;
	}
	.main_title_ctn{ 
		width:1200px; 
		margin:auto; 
		height:100px; 
		background-color:#fff; 
		box-shadow:0 -3px 3px rgba(0,0,0,0.3); 
		padding-top:50px;
		overflow: hidden;
	}
	.main_title{ 
		font-size:36px;
		float:left;
		margin-left:50px;
	}
	.divider{ 
		width:1100px; 
		height:1px; 
		background-color:#ccc; 
		margin:25px auto;
	}
	.main_content_container{ 
		overflow:hidden;
	}
	.main_content_ctn{ 
		width:1100px; 
		margin:auto;
		overflow: hidden;
	}
}

@media screen and (max-width: 1199px) and (min-width: 768px){
	.main_title_container{ 
		width:100%; 
	}
	.main_title_ctn{ 
		background-image:url(../images/main_title_bg.png); 
		margin:auto; 
		box-shadow:0 0 3px rgba(0,0,0,0.3); 
		padding: 10px 0;
	}
	.main_title{ 
		font-size:24px;
		margin-left:50px;
		color: #fff;
	}
	.divider{ 
		display: none;
	}
	.main_content_container{ 
		width:100%; 
	}
	.main_content_ctn{ 
		overflow: hidden;
	}
}

@media screen and (max-width: 767px){
	.main_title_container{ 
		width:100%; 
	}
	.main_title_ctn{ 
		display: none;
		background-color: #fff; 
		margin:auto; 
		color:#555; 
		padding: 10px 0;
		border-bottom: 1px solid #ececec;
	}
	.main_title{ 
		border-left: 5px solid #007cc2;
		font-size:16px;
		font-weight: 600;
		text-indent: 10px;
	}
	.divider{ 
		display: none;
	}
	.main_content_container{ 
		width:100%; 
	}
	.main_content_ctn{ 
		overflow: hidden;
	}
}


/*分页按钮*/


@media screen and (min-width: 1200px){
	.paging{ 
		width:240px; 
		margin:30px auto; 
		overflow:hidden; 
		font-size:14px; 
		color:#fff;
	}
	.paging button{ 
		color: #fff;
		padding:0; 
		border:1px solid #da251c; 
		display:block; 
		float:left; 
		font-weight:bold; 
		margin:10px; 
		width:40px; 
		height:40px; 
		border-radius:50%; 
		background-color:#da251c; 
		text-align:center; 
		line-height:36px; 
		cursor:pointer;
	}
	.paging button:hover{ 
		width:40px; 
		height:40px; 
		background-color:#fff; 
		border:1px solid #da251c; 
		color:#da251c; 
		font-weight:bold; 
		line-height:36px;
	}
	.paging .disabled:hover{ 
		color:#fff; 
		padding:0; 
		border:1px solid #da251c; 
		display:block; 
		float:left; 
		font-weight:bold; 
		margin:10px; 
		width:40px; 
		height:40px; 
		border-radius:50%; 
		background-color:#da251c; 
		text-align:center; 
		line-height:36px; 
		cursor:default;
	}
}

@media screen and (max-width: 1199px) and (min-width: 768px){
	.paging{ 
		width:240px; 
		margin:10px auto; 
		overflow:hidden; 
		font-size:14px; 
		color:#fff;
	}
	.paging button{ 
		color: #fff;
		padding:0; 
		border:1px solid #da251c; 
		display:block; 
		float:left; 
		font-weight:bold; 
		margin:10px; 
		width:40px; 
		height:40px; 
		border-radius:50%; 
		background-color:#da251c; 
		text-align:center; 
		line-height:36px; 
		cursor:pointer;
	}
	.paging button:hover{ 
		width:40px; 
		height:40px; 
		background-color:#fff; 
		border:1px solid #da251c; 
		color:#da251c; 
		font-weight:bold; 
		line-height:36px;
	}
	.paging .disabled:hover{ 
		color:#fff; 
		padding:0; 
		border:1px solid #da251c; 
		display:block; 
		float:left; 
		font-weight:bold; 
		margin:10px; 
		width:40px; 
		height:40px; 
		border-radius:50%; 
		background-color:#da251c; 
		text-align:center; 
		line-height:36px; 
		cursor:default;
	}
}

@media screen and (max-width: 767px){
	.paging{ 
		width:96%; 
		margin:10px auto; 
		overflow:hidden; 
		font-size:14px; 
		color:#fff;
		border: 1px solid #da251c;
		border-radius: 3px;
	}
	.paging button{ 
		background: #fff;
		padding:0; 
		display:block; 
		border: none;
		border-right: 1px solid #da251c;
		float:left; 
		font-weight:bold; 
		width:25%; 
		height: 30px;
		color:#da251c; 
		text-align:center; 
		line-height:30px; 
		cursor:pointer;
	}

	.paging button:last-child{
		border-right: none;
	}
	.paging .disabled{ 
		color:#858585; 
		cursor:default;
		background: #eee;
	}
}


/*基础网格*/
.col-10-1{ width:10%; float:left; overflow:hidden;}
.col-10-2{ width:20%; float:left; overflow:hidden;}
.col-10-3{ width:30%; float:left; overflow:hidden;}
/*.col-10-4{ width:40%; float:left; overflow:hidden;}*/
.col-10-5{ width:50%; float:left; overflow:hidden;}
/*.col-10-6{ width:60%; float:left; overflow:hidden;}*/
.col-10-7{ width:70%; float:left; overflow:hidden;}
.col-10-8{ width:80%; float:left; overflow:hidden;}
.col-10-9{ width:90%; float:left; overflow:hidden;}
/*.row{ width:100%;
	overflow:hidden;
}*/


/*文章上下篇导航*/
@media screen and (min-width: 1200px){
	.page_turn{ 
		line-height:30px; 
		padding:20px 0;
	}
	.page_turn span{ 
		display:block;
	}
	.page_turn a:hover{ 
		color:#DA251C;
	}
}

@media screen and (max-width: 1199px) and (min-width: 768px){
	.page_turn{ 
		line-height:30px; 
		padding:20px 2%;
	}
	.page_turn span{ 
		display:block;
	}
	.page_turn a:hover{ 
		color:#DA251C;
	}
}

@media screen and (max-width: 767px){
	.page_turn{ 
		font-size: 14px;
		line-height:30px; 
		padding:20px 2%;
	}
	.page_turn span{ 
		display:block;
	}
}

/*登录注册*/
@media screen and (min-width: 1200px){
	.login-fix{
		display: none;
	}

	.login{
		position: fixed;
		top: 0;
		right: 0;
		height: 80px;
		width: 100%;
		z-index: 100;
	}

	.login>ul{
		overflow: hidden;
		display: none;
	}

	.login>ul>li{
		float: left;
		padding: 0 30px;
		line-height: 40px;
		margin: 20px 10px;
		font-size: 16px;
		background: rgba(0,0,0,0.3);
		color: #fff;
		border-radius: 1.5em;
	}

	.login>.close{
		/*display: none;*/
	}
}

@media screen and (max-width: 1199px) and (min-width: 769px){
	.login-fix{
		display: none;
	}

	.login{
		position: fixed;
		top: 0;
		right: 0;
		height: 80px;
		width: 100%;
		z-index: 100;
	}

	.login>ul{
		overflow: hidden;
	}

	.login>ul>li{
		float: left;
		padding: 0 30px;
		line-height: 40px;
		margin: 20px 10px;
		font-size: 16px;
		background: rgba(0,0,0,0.4);
		color: #fff;
		border-radius: 1.5em;
	}

	.login>.close{
		display: none;
	}
}

@media screen and (max-width: 768px){
	.login-fix{
		display: block;
		position: fixed;
		left: 10px;
		bottom: 66px;
		z-index: 98;
		width: 28px;
		height: 28px;
		border-radius: 14px;
		background: #61d4fc;
		text-align: center;
		line-height: 25px;
		color: #fff;
		box-shadow: 0 0 4px rgba(0,0,0,0.3);
		cursor: pointer;
	}

	.login{
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
		background: rgba(0,0,0,0.7);
		padding-top: 15px;
		display: none;
	}

	.login>.close{
		display: block;
		width: 24px;
		height: 24px;
		background: url(../images/login-close.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center center;
		margin-left: 15px;
		cursor: pointer;
		position: absolute;
		left: 5px;
		bottom: 50px;
	}

	.login>ul{
		padding: 10px;
	}

	
	.login>ul>li{
		color: #fff;
		font-size: 17px;
		line-height: 50px;
		height: 50px;
		width: 100%;
		position: relative;
		padding-left: 15px;
	}

	.login>ul>li>a{
		display: block;
		width: 100%;
		height: 100%;
	}

	.login>ul>li>span{
		display: block;
		position: absolute;
		width: 16px;
		height: 16px;
		background: url(../images/login-icon.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center center;
		right: 15px;
		top: 17px;
	}
}


.yuangong{
	display: block;
	font-size: 14px;
	color: #61d4fc;
	position: fixed;
	left: 50px;
	bottom: 70px;
	z-index: 101;
}


/*产品页按钮*/
@media screen and (min-width: 1200px){
	.pdubtn_group{
		overflow: hidden;
		margin-left: 10px;
	}

	.pdubtn_group>a{ 
		display:block;
		float:left;
		margin-right:10px;
		height:38px;
		width:178px;
		font-size:16px;
		cursor:pointer;
		line-height: 38px;
		text-align: center;
	}
	.pdubtn_group .btn_01{ 
		border:1px solid #c40000;
		background-color:#ffeded;
		color:#c40000;
	}
	.pdubtn_group .btn_02{
		border:1px solid #c40000;
		background-color:#c40000;
		color:#ffeded;
	}
	.pdubtn_group .btn_03{ 
		width:120px;
		border:1px solid #c40000;
		background-color:#ffeded;
		color:#c40000;
	}
}

@media screen and (max-width: 1199px) and (min-width: 768px){
	.pdubtn_group{
		overflow: hidden;
		margin: auto;
		margin-top: 10px;
		width: 414px;
	}

	.pdubtn_group>a{ 
		display:block;
		float:left;
		margin-right:10px;
		height:32px;
		width:128px;
		font-size:14px;
		cursor:pointer;
		line-height: 32px;
		text-align: center;
	}
	.pdubtn_group .btn_01{ 
		border:1px solid #c40000;
		background-color:#ffeded;
		color:#c40000;
	}
	.pdubtn_group .btn_02{
		border:1px solid #c40000;
		background-color:#c40000;
		color:#ffeded;
	}
	.pdubtn_group .btn_03{ 
		width:120px;
		border:1px solid #c40000;
		background-color:#ffeded;
		color:#c40000;
	}
}

@media screen and (max-width: 767px){
	.pdubtn_group{
		overflow: hidden;
		margin: 10px 0;
		width: 100%;
		padding: 0 10px;
	}

	.pdubtn_group>a{ 
		display:block;
		float:left;
		height:32px;
		width:50%;
		font-size:14px;
		cursor:pointer;
		line-height: 32px;
		text-align: center;
	}

	.pdubtn_group .btn_01{ 
		border:1px solid #c40000;
		background-color:#ffeded;
		color:#c40000;
	}
	.pdubtn_group .btn_02{
		border:1px solid #c40000;
		background-color:#c40000;
		color:#ffeded;
	}
}