*{
    padding: 0;
    margin: 0;
    font-family: Microsoft YaHei;
    font-size: 17px;
}
ul>li{
    list-style: none;
}
.header{
    background-color: #5CA04B;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
}
.personal_center{
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
}
.personal_center>img{
    width: 30px;
    height: 30px;
}
.body_search{
    position: relative;
}
.body_search_left{
    background-color: #990100;
    padding: 5px;
    width: 295px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.input_style{
    width: 80%;
    height: 35px;
    outline: none;
    text-indent: 40px;
    border: none;
}
.find{
    color: #FFFFFF;
    position: absolute;
    top: 9px;
    right:9px;
    cursor: pointer;
}
.find_span{
    position: absolute;
    left: 15px;
    top:8px;
    width: 30px;
    height: 30px;
    background-image: url("../images/Search.png");
    background-size: 100% 100%;
    cursor: pointer;
}
.body_search_rigth>img{
    width: 45px;
    height: 45px;
}
.body_search_rigth{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.body_product_ul>ul>li>span{
    text-align: center;
}
.pro-check>img{
    width: 50px;
    height: 50px;
}
.li_check{
    width: 50px;
    text-align: center;
    color: #C6C9D3;
    float: left;
}
.li_share{
    float: right;
    position: relative;
}
.li_share:hover>#fenxiang{
    display: block;
}
.share_img>img{
    width: 30px;
    height: 30px;
}
.clear{
    clear: both;
}
.pro-num-I{
    width: 100%;
    display: inline-block;
    height: 60px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,0.1) inset;
    padding: 5px;
    position: relative;
}
.add{
    width: 58px;
    height: 100%;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 58px;
    border-left: 1px solid #dddddd;
    position: absolute;
    cursor: pointer;
}
.sub{
    width: 58px;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 58px;
    border-right: 1px solid #dddddd;
    position: absolute;
    cursor: pointer;
}
.pro-num-I>input {
    padding: 0 30px;
    color: #F50937;
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}
.left{
    width: 90px;
    height: 40px;
    float: left;
    border: 1px solid #dddddd
}
.left>button{
    width: 100%;
    height: 100%;
    outline: none;
    /*color: #B7B9C8;*/
    border: 1px solid #FFFFFF;
    text-align: center;
    line-height: inherit;
    border-radius: inherit;
    font-size: 16px;
    background-color: #FFFFFF;
}
.but_style{
    border: 1px solid #009805 !important;
    color: #009805;
}
.right{
    width: 90px;
    height: 40px;
    float: right;
    border: 1px solid #dddddd;
}
.right>button{
    width: 100%;
    height: 100%;
    border: 1px solid #FFFFFF;
    outline: none;
    /*color: #B7B9C8;*/
    text-align: center;
    line-height: inherit;
    border-radius: inherit;
    font-size: 16px;
    background-color: #FFFFFF;
}
.li_margin{
    margin-top: 20px;
    margin-left: 10px
}
.home_footer_left{
    width: 25%;
    height: 70px;
    background-color: #719C71;
    color: #FFFFFF;
    text-align: center;
    float: left;
    cursor: pointer;
    position: relative;
}
.home_footer_left:hover{
    color: #FFFFFF;
    text-decoration:none
}
.footer_left_img>img{
    width: 35px;
    height: 30px;
    margin-top: 10px;
}
.home_footer_center{
    border-top:1px solid #8F0624;
    width: 50%;
    text-align: center;
    float: left;
    background-color: #FFFFFF;
    height: 70px;
    padding: 10px;
}
.home_footer_right{
    float: left;
    width: 25%;
    height: 70px;
    background-color: #8F0624;
    color: #FFFFFF;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
}
.home_footer_right:hover{
    color: #FFFFFF;
    text-decoration:none;
}
.body_product_ul>ul{
    padding: 10px 0;
}
.home_footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 990;
}
.bdsharebuttonbox>a{
    float: left;
}
.body{
    position: relative;
}
.name{
    color: #000000;
}
.name:hover{
    color: #000000;
    text-decoration:none;
}
.pro-msg{
    margin-top: 10px;
}
.pro-check{
    height: 30px;
    width: 30px;
    background: url(../../pc/images/kuang_unchecked.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.pro-checked{
    height: 30px;
    width: 30px;
    background: url(../../pc/images/kuang_checked.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.checkserver{
    text-align: center;
    display: none;
    margin-bottom: 40px;
}
.checkserver>ul>li{
    margin-top: 10px;
}
.kefu>ul{
    margin-bottom: 0;
}
.kefu>ul>li{
    padding: 20px 0;
    padding-left:100px ;
    border-bottom:1px solid #009805 ;
    text-align: left;
}
.kefu>ul>li>a{
    color: #009805;
    cursor: pointer;
}
.kefu>ul>li>a:hover{
    color: #009805
    text-decoration: none;
}
.product>a>img{
    width: 100%;
}
.staff{
    text-align: center;
}
#copy_bottom{
    padding-bottom: 80px;
    margin-top: 10px
}
.closed{
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
}
@media (min-width: 770px) {
    .body_showimg1>img{
        width: 100%;
    }
    .pro-img>img{
        width: 100%;;
    }
}