*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}
html,body{
    width: 100%;
    background-color: #c7d7df;
}
section{
    width: 100%;
}
.banner{
    position: relative;
}
.banner,.banner>ul:first-child>li,.banner>ul{
    width: 100%;
    height: 665px;
}
.banner>.banner_btn{
    width: 150px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -75px;
}
.banner_1{
    background-image: url("../saiyu/baner1.png");
}
.banner_2{
    background-image: url("../saiyu/baner2.png");
}
.banner_3{
    background-image: url("../saiyu/baner3.png");
}
.banner_btn_1,.banner_btn_2,.banner_btn_3{
    background-color: #fff;
    width: 20px;
    height: 20px;
    border: none;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
.slogan>p {
    color: #035e8b;
    font-size: 48px;
    font-family: '΢���ź�','��Բ';
    margin-top: 110px;
    margin-bottom: 55px;
    text-align: center;
}
.slogan>img{
    display: block;
    margin:0 auto;
    margin-bottom: 100px;
}
.points{
    width: 89.47%;
    margin-left: 2.6%;
    box-shadow: 5px 5px 5px #000;
    overflow: hidden;
    margin-bottom: 140px;
}
.points:last-child{
    margin-bottom: 120px;
}
.left,.right{
    float: left;
}
.left{
    display: block;
    width: 71.47%;
    height: 637px;
}
.img_02{
}
.img_03{
}
.right{
    background-color: #fff;
    height: 637px;
    width: 28.53%;
    padding-left: 45px;
}
.right>h2{
    color: #035e8b;
    font-size: 36px;
    padding-top: 125px;
    padding-bottom: 30px;
    border-bottom:2px solid #035e8b;
    width: 365px;
    font-family: '΢���ź�';
}
.right>h4{
    font-size: 20px;
    color: #035e8b;
    padding-top: 50px;
    font-family: '΢���ź�';
    padding-right: 50px;
}
.to_top{
    background-image: url("../saiyu/back_top.png");
    width: 112px;
    height: 114px;
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 10;
}
footer>.link{
    width: 100%;
    margin:0 auto;
    height: 100px;
    background-color: #045f89;
}
footer>.link>ul{
    width: 26%;
    overflow: hidden;
    text-align: center;
    margin:0 auto;
    padding-top: 32px;
}
footer>.link>ul>li{
    margin-right: 12.6%;
    float: left;
    font-size: 36px;
    font-family: '΢���ź�';
 }
footer>.link>ul>li>a{
    color: #fff;
}
footer>.link>ul>li:last-child{
    margin:0;
 }
.copyright{
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    background-color: #045f89;
}
aside{
    position: fixed;
    top:15%;
    right: 0;
}
aside li{
    font-size: 25px;
    font-family: '΢���ź�';
    width: 110px;
    height: 60px;
    line-height: 60px;
    background-color: #0680bc;
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
    cursor: pointer;
}
aside li>a{
    color: #FFFFFF;
}
.bdsharebuttonbox{
    width: 120px;
    height: 35px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 105px;
    bottom: 15px;
    display: none;
}
