*{
    padding: 0;
    margin: 0;
    font-family: Microsoft YaHei;
    color: #000000;
}
ul>li{
    list-style: none;
}
ul{
    margin-bottom: 0;
}
body{
    background-color: #EAEAEA;
}
.header{
    background-color: #2C7D5D;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    position: relative;
}
.header>a{
    color: #ffffff;
    cursor: pointer;
}
.header>a:hover{
    color: #ffffff;
    text-decoration: none;
}
.body{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.body01{
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius:3px;
    margin-bottom: 20px;
}
.body01_top{
    text-align: center;
    background-color: #2C7D5D;
    height: 62px;
    line-height: 62px;
    width: 100%;
    font-size: 20px;
    color: #ffffff;
}
.body01_bottom{
    padding: 20px;
    background-color: #ffffff;
}