html{
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, 
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn, em, font, img, ins, 
kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    font-weight: inherit; 
    font-style: inherit; 
    font-size: 100%; 
    font-family: inherit; 
    vertical-align: baseline; 
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}

:focus {
    outline: 0;
} 
a, a:link, a:visited, a:hover, a:active{
    text-decoration:none;
    color: inherit;
} 
table {
    border-collapse: separate;
    border-spacing: 0;
}

th, td {
    text-align: left;
    font-weight: normal;
} 
img, iframe {
    border: none;
    text-decoration:none;
    display: block;
} 
ol, ul {
    list-style: none;
} 
input, textarea, select, button {
    font-size: 100%;
    font-family: inherit;
} 
select {
    margin: inherit;
} 
hr {
    margin: 0;
    padding: 0;
    border: 0;
    color: #000;
    background-color: #000;
    height: 1px
}

.cover{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
	z-index: 1;display: none;
}

/*导航*/

.nav>li>a{
	display: block;
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 1200px){
	.header_ctn{	
		height:98px;
		border-bottom:1px solid #eee;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;
		background: rgba(255,255,255,0.8);
	}
	.header{ 
		width:1200px;
		margin:auto;
		overflow:hidden;
	}
	.logo{ 
		height:60px;
		margin:19px 0;
		float:left;
	}
	.logo img{ height:100%;}
	.nav{
		float: right;
	}
	.nav li{ 
		float:left;
		width:52px;
		text-align:center;
		line-height:48px;
		height:48px;
		margin:26px 5px;
		color:#007cc2;
	}
	.nav-icon{
		display: none;
	}
	.nav .active,.nav li:hover{
		color:#da251c;
		border-bottom:4px solid #da251c;
	}

}

@media screen and (max-width: 1199px) and (min-width: 768px){
	.header_ctn{	
		height:68px;
		border-bottom:1px solid #eee;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;
		background: rgba(255,255,255,0.8);
	}
	.header{ 
		width:100%;
		overflow:hidden;
	}
	.logo{ 
		height:40px;
		margin:14px 0;
		float:left;
		margin-left: 5px;
	}
	.nav-icon{
		display: none;
	}
	.logo img{ height:100%;}
	
	.nav{
		float: right;
		margin-right: 5px;
	}

	.nav li{ 
		float:left;
		width:46px;
		text-align:center;
		line-height:38px;
		height:38px;
		margin:15px 5px;
		color:#007cc2;
	}
	.nav .active,.nav li:hover{
		color:#da251c;
		border-bottom:4px solid #da251c;
	}

	
}

@media screen and (max-width: 767px){
	.header_ctn{	
		height:48px;
		border-bottom:1px solid #eee;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;
		background: rgba(255,255,255,0.8);
	}
	.header{ 
		width:100%;
		height: 100%;
		position: relative;
	}
	.logo{ 
		height:26px;
		margin:11px 0;
		float:left;
		margin-left: 5px;
	}
	.logo img{ height:100%;}
	
	.nav-icon{
		display: block;
		float: right;
		margin-right: 10px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		text-align: center;
		margin-top: 7px;
	}


	.nav-icon i{
		display: block;
		font-size:32px;
		margin: auto;
		line-height: 46px; 
		color: #333;
	}
	.nav.nav-collapse{
		display: none;
		position: absolute;
		width: 36%;
		background: #95d6fb; 
		top: 50px;
		right: 5px;
		background: rgba(0,124,194,0.9);
		z-index: 20;
		padding: 5px;
	}
	.nav.nav-collapse:before{
		content: "";
		display: block;
		position: absolute;
		right: 15px;
		bottom: 100%;
		background: url(../images/nav-icon.png);
		background-size: 100%;
		width: 10px;
		height: 10px;
	}
	.nav.nav-collapse li{
		width: 100%; 
		font-size: 14px; 
		text-align:center;
		line-height:30px;
		height:30px;
		color:#fff;
		margin: 1px 0;
	}
	.nav.nav-collapse .active,.nav.nav-collapse li:hover{
		color:#333;
		background: #95d6fb;
	}
	
}


/*页脚*/
@media screen and (min-width: 1200px){
	footer{ 
		padding-top: 30px;
		background-color:#2a2a2a;
	}
	.footer_ctn{ 
		width:1200px;
		margin:auto;
		overflow:hidden;
	}
	.footer_left{ 
		float:left;
		width:600px;
	}

	.footer_img_ctn{ 
		overflow:hidden;
		padding:30px 0;
	}
	.img_ctn{ float:left;
		color:#7f7f7f;
		font-size:14px;
		text-align:center;
		margin-left:40px;
		margin-bottom:20px;
	}
	.img_ctn_img{ width:70px; 
		height:70px; 
		overflow:hidden; 
		border-radius:6px;
	}
	.img_ctn_img img{ 
		width:100%;
	}
	.img_ctn_text{ 
		width:70px; 
		line-height:24px;
		margin-top: 5px;
	}
	.img_text_ctn{ 
		overflow:hidden;
		padding-bottom:50px;
	}
	.img_ctn_left{ 
		width:80px; 
		height:80px; 
		float:left;
		margin-left:60px;
	}
	.img_ctn_left img{ 
		width:100%;
	}
	.img_text_ctn ul{ 
		float:left;
		margin-left:30px;
		color:#7f7f7f;
		font-size:14px;
		width:400px;
		line-height:26px;
	}
	.img_text_ctn li:hover{ 
		color:#cfcfcf; 
		cursor:default;
	}
	.img_text_ctn i{ 
		width:40px;
	}
	.footer_right{
		overflow: hidden;
		padding-top: 60px;
		margin-bottom: 50px;
	}
	.company{ 
		float:right; 
		margin-right:50px; 
		margin-top:30px; 
		height:54px;
	}
	.company img{ 
		height:100%;
	}
	.copyright{
		clear: both;
		font-size: 14px;
		color: #7f7f7f;
		text-align: center;
		line-height: 24px;
		margin-right: 50px;
		margin-top: 18px;
	}
}

@media screen and (max-width: 1199px) and (min-width: 768px){
	footer{ 
		background-color:#2a2a2a;
	}
	.footer_ctn{ 
		width:100%;
		margin:auto;
		overflow:hidden;
		padding-top: 30px;
	}
	.footer_left{ 
		float:left;
		width: 350px;
	}

	.footer_img_ctn{ 
		overflow:hidden;
		padding:10px 0;
	}
	.img_ctn{ 
		float:left;
		color:#7f7f7f;
		font-size:12px;
		text-align:center;
		margin-left:18px;
	}
	.img_ctn_img{ width:40px; 
		height:40px; 
		overflow:hidden; 
		margin: auto;
		border-radius:6px;
	}
	.img_ctn_img img{ 
		width:100%;
	}
	.img_ctn_text{ 
		width:50px; 
		line-height:24px;
	}
	.img_text_ctn{ 
		margin-top: 10px;
		overflow:hidden;
		padding-bottom:36px;
	}
	.img_ctn_left{ 
		display: none;
	}

	.img_text_ctn ul{ 
		color:#7f7f7f;
		font-size:14px;
		width:400px;
		line-height:26px;
	}
	.img_text_ctn li:hover{ 
		color:#cfcfcf; 
		cursor:default;
	}
	.img_text_ctn i{ 
		width:40px;
	}
	.footer_right{ 
		float:right; 
		overflow:hidden;
		width:400px;
		padding-top:20px;
	}
	.company{ 
		float:right; 
		margin-right:20px; 
		margin-top:30px; 
		height:54px;
	}
	.company img{ 
		height:100%;
	}
	.copyright{ 
		clear:both; 
		font-size:14px; 
		float:right;
		color:#7f7f7f;
		text-align:right;
		line-height:24px; 
		margin-right:20px; 
		margin-top:18px;
	}
}

@media screen and (max-width: 767px){
	footer{ 
		background-color:#eee;
		box-shadow: 0 0 5px rgba(0,0,0,0.3)
	}
	.footer_ctn{ 
		width:100%;
		margin:auto;
		overflow:hidden;
	}
	.footer_left{ 
		display: none;
	}

	.footer_right{ 
		overflow:hidden;
		padding :10px 0 50px 0;
	}
	.company{ 
		display: none;
	}

	.copyright{ 
		display: block;
		font-size:12px; 
		color:#646464;
		width: 200px;
		margin: auto;
		text-align:center;
		line-height:18px; 
	}
}


/*侧边工具栏*/

@media screen and (min-width: 1200px){
	.side_tools{
		width: 86px;
		height: 244px;
		color: #fff;
		position: fixed;
		right: 0;
		top: 40%;
		margin-top: -122px;
	}
	.tools_icon{
		display: block;
		height: 60px;
		text-align: center;
		background-color: #007cc2;
		margin-bottom: 1px;
		line-height: 60px;
		cursor: pointer;
		font-size: 16px;
		position: relative;
	}
	.tools{ 
		font-size:14px;
		position:absolute;
		display:none;
	}
	.qq_icon{ 
		width:244px;
		height:60px;
		right:100%;
		top:0;
	}
	.qq_icon a{ 
		display:block;
		float:left;
		width:60px;
		margin-left:1px;
		background-color:#da251c;
		height:60px;
		line-height:20px;
		font-size:12px;
	}
	.qq_icon a i{ 
		display:block;
		width:60px;
		text-align:center;
		line-height:40px;
		font-size:18px;
	}
	.tools_icon .qq_icon a:hover{ 
		background-color:#fff; 
		width:58px; 
		height:58px; 
		border:1px solid #da251c;
		color:#da251c;
	}
	.phone_icon{ 
		right:100%;
		top:0;
		width:200px;
		height:60px;
		background-color:#da251c;
		font-size:24px;
	}
	.qr_code{ 
		right:100%;
		bottom:0;
		width:90px;
		height:90px;
		padding:15px;
		background-color:#fefefe;
		overflow:hidden;
	}
	.qr_code img{ 
		width:100%;
	}
	.tools_icon:hover .tools{ 
		display:block;
	}
	.side_tools .top_icon:hover{
		background-image:url(../images/top_icon_bg.png);
		color:#da251c;
	}
}

@media screen and (max-width: 1199px) and (min-width: 768px){
	.side_tools{ 
		width:50px;
		height:244px;
		color:#fff;
		position:fixed;
		right:0;
		top:50%;
		margin-top:-122px;
		z-index: 2;
	}
	.tools_icon{
		width:50px;
		height:50px;
		text-align:center;
		background-color:#007cc2;
		margin-bottom:1px;
		line-height:50px;
		cursor:pointer;
		font-size:18px;
		position:relative;
	}
	.tools{ 
		font-size:14px;
		position:absolute;
		display:none;
	}
	.qq_icon{ 
		width:204px;
		height:50px;
		right:100%;
		top:0;
	}
	.qq_icon a{ 
		display:block;
		float:left;
		width:50px;
		margin-left:1px;
		background-color:#da251c;
		height:50px;
		line-height:20px;
		font-size:10px;
		text-align: center;
	}
	.qq_icon a i{ 
		display:block;
		width:50px;
		text-align:center;
		line-height:30px;
		font-size:18px;
	}
	.tools_icon .qq_icon a:hover{ 
		background-color:#fff; 
		width:50px; 
		height:50px; 
		border:1px solid #da251c;
		color:#da251c;
	}
	.phone_icon{ 
		right:100%;
		top:0;
		width:150px;
		height:50px;
		background-color:#da251c;
		font-size:18px;
	}
	.qr_code{ 
		right:100%;
		bottom:0;
		width:90px;
		height:90px;
		padding:15px;
		background-color:#fefefe;
		overflow:hidden;
	}
	.qr_code img{ 
		width:100%;
	}
	.tools_icon:hover .tools{ 
		display:block;
	}
	.side_tools .top_icon:hover{
		background-image:url(../images/top_icon_bg.png);
		color:#da251c;
	}
}

@media screen and (max-width: 767px){
	.side_tools{
		width: 100%;
		height: 58px;
		position: fixed;
		right: 0;
		bottom: 0;
		z-index: 10;
		border-top: 1px solid #e5e5e5;
	}
	.tools_icon{
		display: block;
		color: #7a6d6c;
		height: 58px;
		text-align: center;
		background-color: #fff;
		cursor: pointer;
		font-size: 11px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		width: 16.6666%;
		float: left;
	}

	.qr-icon,.qq-icon,.phone-icon{
		flex:1;
	}

	.qq-icon,.phone-icon{
		border-right: 1px solid #fff;
	}
	.tools{ 
		font-size:14px;
		position:absolute;
		display:none;
	}
	.tools_icon>.icon {
		display: block;
		width: 31px;
		height: 33px;
		margin: 8px auto 0;
		background-repeat: no-repeat;
		background-size: 100%;
	}
	.tools_icon>.icon01 {
		background-image: url(../images/tool-icon1.png);
	}
	.tools_icon>.icon02 {
		background-image: url(../images/tool-icon2.png);
	}
	.tools_icon>.icon05 {
		background-image: url(../images/tool-icon5.png);
	}
	.tools_icon>.icon03 {
		background-image: url(../images/tool-icon3.png);
	}
	.tools_icon>.icon07 {
		background-image: url(../images/tool-icon7.png);
	}
	.tools_icon>.icon04 {
		background-image: url(../images/tool-icon4.png);
	}
	.qq_icon{ 
		bottom: 41px;
		left: 0px;
		right: 0px;
	}
	.qq_icon a{ 
		display:block;
		width:100%;
		background-color:#da251c;
		line-height:40px;
		font-size:14px;
		text-align: center;
		margin-top: 1px;
	}
	.qq_icon a i{ 
		display:none
	}
	
	.phone_icon{ 
		display: none;
	}
	.qr_code{ 
		display: none;
	}
	.qr_code img{ 
		width:100%;
	}

}


/*页面标题*/
@media screen and (min-width: 1200px){
	.main_title_container{ 
		width:100%; 
		height:180px; 
		background-image:url(../images/main_title_bg.png); 
		padding-top:80px;
	}
	.main_title_ctn{ 
		width:1200px; 
		margin:auto; 
		height:100px; 
		background-color:#fff; 
		box-shadow:0 -3px 3px rgba(0,0,0,0.3); 
		padding-top:50px;
		overflow: hidden;
	}
	.main_title{ 
		font-size:36px;
		float:left;
		margin-left:50px;
	}
	.divider{ 
		width:1100px; 
		height:1px; 
		background-color:#ccc; 
		margin:25px auto;
	}
	.main_content_container{ 
		overflow:hidden;
	}
	.main_content_ctn{ 
		width:1100px; 
		margin:auto;
		overflow: hidden;
	}
}

@media screen and (max-width: 1199px) and (min-width: 768px){
	.main_title_container{ 
		width:100%; 
		margin-top: 68px;
	}
	.main_title_ctn{ 
		background-image:url(../images/main_title_bg.png); 
		margin:auto; 
		box-shadow:0 0 3px rgba(0,0,0,0.3); 
		padding: 10px 0;
	}
	.main_title{ 
		font-size:24px;
		margin-left:50px;
		color: #fff;
	}
	.divider{ 
		display: none;
	}
	.main_content_container{ 
		width:100%; 
	}
	.main_content_ctn{ 
		overflow: hidden;
	}
}

@media screen and (max-width: 767px){
	.main_title_container{ 
		width:100%;
	}
	.main_title_ctn{ 
		background-color: #007cc2; 
		margin:auto; 
		color:#fff; 
		box-shadow:0 0 3px rgba(0,0,0,0.3); 
		padding: 10px 0;
		display: none;
	}
	.main_title{ 
		font-size:16px;
		font-weight: 600;
		margin-left:10px;
		color: #fff;
	}
	.divider{ 
		display: none;
	}
	.main_content_container{ 
		width:100%; 
	}
	.main_content_ctn{ 
		overflow: hidden;
	}
}


/*分页按钮*/


@media screen and (min-width: 1200px){
	.paging{ 
		width:240px; 
		margin:30px auto; 
		overflow:hidden; 
		font-size:14px; 
		color:#fff;
	}
	.paging button{ 
		color: #fff;
		padding:0; 
		border:1px solid #da251c; 
		display:block; 
		float:left; 
		font-weight:bold; 
		margin:10px; 
		width:40px; 
		height:40px; 
		border-radius:50%; 
		background-color:#da251c; 
		text-align:center; 
		line-height:36px; 
		cursor:pointer;
	}
	.paging button:hover{ 
		width:40px; 
		height:40px; 
		background-color:#fff; 
		border:1px solid #da251c; 
		color:#da251c; 
		font-weight:bold; 
		line-height:36px;
	}
	.paging .disabled:hover{ 
		color:#fff; 
		padding:0; 
		border:1px solid #da251c; 
		display:block; 
		float:left; 
		font-weight:bold; 
		margin:10px; 
		width:40px; 
		height:40px; 
		border-radius:50%; 
		background-color:#da251c; 
		text-align:center; 
		line-height:36px; 
		cursor:default;
	}
}

@media screen and (max-width: 1199px) and (min-width: 768px){
	.paging{ 
		width:240px; 
		margin:10px auto; 
		overflow:hidden; 
		font-size:14px; 
		color:#fff;
	}
	.paging button{ 
		color: #fff;
		padding:0; 
		border:1px solid #da251c; 
		display:block; 
		float:left; 
		font-weight:bold; 
		margin:10px; 
		width:40px; 
		height:40px; 
		border-radius:50%; 
		background-color:#da251c; 
		text-align:center; 
		line-height:36px; 
		cursor:pointer;
	}
	.paging button:hover{ 
		width:40px; 
		height:40px; 
		background-color:#fff; 
		border:1px solid #da251c; 
		color:#da251c; 
		font-weight:bold; 
		line-height:36px;
	}
	.paging .disabled:hover{ 
		color:#fff; 
		padding:0; 
		border:1px solid #da251c; 
		display:block; 
		float:left; 
		font-weight:bold; 
		margin:10px; 
		width:40px; 
		height:40px; 
		border-radius:50%; 
		background-color:#da251c; 
		text-align:center; 
		line-height:36px; 
		cursor:default;
	}
}

@media screen and (max-width: 767px){
	.paging{ 
		width:96%; 
		margin:10px auto; 
		overflow:hidden; 
		font-size:14px; 
		color:#fff;
		border: 1px solid #da251c;
		border-radius: 3px;
	}
	.paging button{ 
		background: #fff;
		padding:0; 
		display:block; 
		border: none;
		border-right: 1px solid #da251c;
		float:left; 
		font-weight:bold; 
		width:25%; 
		height: 30px;
		color:#da251c; 
		text-align:center; 
		line-height:30px; 
		cursor:pointer;
	}

	.paging button:last-child{
		border-right: none;
	}
	.paging .disabled{ 
		color:#858585; 
		cursor:default;
		background: #eee;
	}
}


/*基础网格*/
.col-10-1{ width:10%; float:left; overflow:hidden;}
.col-10-2{ width:20%; float:left; overflow:hidden;}
.col-10-3{ width:30%; float:left; overflow:hidden;}
/*.col-10-4{ width:40%; float:left; overflow:hidden;}*/
.col-10-5{ width:50%; float:left; overflow:hidden;}
/*.col-10-6{ width:60%; float:left; overflow:hidden;}*/
.col-10-7{ width:70%; float:left; overflow:hidden;}
.col-10-8{ width:80%; float:left; overflow:hidden;}
.col-10-9{ width:90%; float:left; overflow:hidden;}
/*.row{ width:100%;
	overflow:hidden;
}*/


/*文章上下篇导航*/
@media screen and (min-width: 1200px){
	.page_turn{ 
		line-height:30px; 
		padding:20px 0;
	}
	.page_turn span{ 
		display:block;
	}
	.page_turn a:hover{ 
		color:#DA251C;
	}
}

@media screen and (max-width: 1199px) and (min-width: 768px){
	.page_turn{ 
		line-height:30px; 
		padding:20px 2%;
	}
	.page_turn span{ 
		display:block;
	}
	.page_turn a:hover{ 
		color:#DA251C;
	}
}

@media screen and (max-width: 767px){
	.page_turn{ 
		font-size: 14px;
		line-height:30px; 
		padding:20px 2%;
	}
	.page_turn span{ 
		display:block;
	}
}